@use '../../../../styles/variables'

.form-profile-cadidate-add-academic
    padding: 10px
    background-color: variables.$background-secondary

    >h3
        color: variables.$color-default

    form
        margin-top: 15px
        display: flex
        flex-direction: column
        gap: .8rem

.form-profile-cadidate-add-academic-flex
    display: flex
    gap: .8rem

.form-profile-candidate-add-academic-buttons
    display: flex
    gap: .8rem
    width: 50%

@media(max-width: 600px)

    .form-profile-cadidate-add-academic-flex
        flex-direction: column

    .form-profile-candidate-add-academic-buttons
        width: 70%

@media(max-width: 768px)
    .form-profile-cadidate-add-academic
        >h3
            font-size: 16px

    .form-profile-cadidate-add-academic-flex
        gap: .4rem
