@mixin center
    display: flex
    justify-content: center
    align-items: center

@mixin width-container-normal
    width: 1520px
    margin: 15px auto

@mixin width-container-small
    width: 1100px
    margin: 15px auto
