$font-stack: 'Helvetica'
$padding-container-normal: 0px 200px
$padding-container-small: 0px 400px
$background-primary: #f2f4fd
$background-secondary: #fbfcff
$color-primary: #6C63FF
$color-primary-hover: #5850db
$color-primary-contrast: #2d2a6b
$color-default: #3b3b3b
$color-default-secondary: #6e6e6e
