$font-stack: 'Helvetica'
//Paddins container
$padding-container-normal: 0px 200px
$padding-container-small: 0px 400px

//Background
$background-primary: #f2f4fd
$background-secondary: #fbfcff
$background-alternative: #6C63FF
$background-alternative-hover: #5850db
$background-card: #282563

//Texts
$color-primary: #6C63FF
$color-primary-hover: #5850db
$color-primary-contrast: #2d2a6b
$color-default: #3b3b3b
$color-default-secondary: #6e6e6e
$color-alternative: #fbfcff
