@use '../../../variables'

.profile-candidate-card-experience
    margin: 10px
    padding: 10px
    border: 1px solid variables.$color-default-secondary
    border-radius: 5px

.profile-candidate-card-experience-multiple-data-flex
    display: flex
    flex-direction: row
    align-items: flex-end
