@use '../../../styles/mixins'
@use '../../../styles/variables'

.search-container
    @include mixins.width-container-small
    background-color: variables.$background-primary
    min-height: 600px
    box-shadow: 0 0px 7px -2px #c9c9c9
    border-radius: 10px
    border: 1px solid #E4E4E4
    display: grid
    grid-template-columns: 1fr 2fr
    overflow: hidden
    position: relative

.search-vacancies-result
    display: flex
    flex-direction: column
    justify-content: space-between
    height: 100%
    border-right: 2px solid #C3C3C3

    header
        @include mixins.center
        justify-content: space-between
        padding: 5px
        height: 50px
        border-bottom: 2px solid #C3C3C3

        >p
            color: variables.$color-default
            margin-left: 15px
            font-size: 16px

.search-vacancies-filter-button
    display: none

.search-vacancies-list
    height: auto

    hr
        border-top: 1px solid #c9c9c9
        margin: 0 10px

.search-vacancies-pages
    @include mixins.center
    display: flex
    gap: 3px
    padding: 5px
    height: 50px
    border-top: 2px solid #C3C3C3

.search-vacancies-no-data
    width: 100%
    height: 100%
    @include mixins.center

.search-vacancies-content
    display: flex
    flex-direction: column
    justify-content: space-between
    padding: 25px
    height: 100%
    overflow-y: auto

    hr
        margin: 10px 0

    ul
        margin: 5px 0 10px 30px

.search-vacancies-content-header
    display: flex
    justify-content: space-between

    p
        font-size: 16px

.search-vacancies-content-header-texts
    h2
        font-size: 25px

.search-vacancies-publication-date
    margin-top: 15px
    font-size: 14px !important

.search-vacancies-infos
    p
        margin: 3px 0
        letter-spacing: 0.5px
        font-size: 16px

.search-vacancies-descriptions
    p, li
        font-size: 16px
    h3
        font-size: 19px

.search-vacancies-about
    margin: 5px 0 25px 0

.search-vacancies-footer
    display: flex
    justify-content: flex-end

.search-vacancies-footer-button
    width: 200px

.search-vacancies-close
    display: none

@media(max-width: 600px)
    .search-container
        @include mixins.width-container-xxx-small
        grid-template-columns: 1fr

    .search-vacancies-result
        border-right: none

    .search-vacancies-content
        display: none

    .search-vacancies-filter-button
        display: block

    .search-vacancies-content-view
        display: block
        position: absolute
        width: 100%
        height: 100%
        z-index: 100
        background-color: variables.$background-primary

    .search-vacancies-close
        display: block

    .search-vacancies-content-header-texts
        h2
            font-size: 22px

    .search-vacancies-content-header p, .search-vacancies-infos p, .search-vacancies-descriptions p, .search-vacancies-descriptions li
        font-size: 15px

    .search-vacancies-descriptions
        h3
            font-size: 18px

    .search-vacancies-publication-date
        font-size: 12px !important

@media(min-width: 600px) and (max-width: 768px)
    .search-container
        @include mixins.width-container-xxx-small

    .search-vacancies-content-header-texts
        h2
            font-size: 20px

    .search-vacancies-content-header p, .search-vacancies-infos p, .search-vacancies-descriptions p, .search-vacancies-descriptions li
        font-size: 13px

    .search-vacancies-descriptions
        h3
            font-size: 16px

    .search-vacancies-publication-date
        font-size: 12px !important

@media(min-width: 768px) and (max-width: 992px)
    .search-container
        @include mixins.width-container-xx-small

    .search-vacancies-content-header-texts
        h2
            font-size: 21px

    .search-vacancies-content-header p, .search-vacancies-infos p, .search-vacancies-descriptions p, .search-vacancies-descriptions li
        font-size: 14px

    .search-vacancies-descriptions
        h3
            font-size: 17px

    .search-vacancies-publication-date
        font-size: 13px !important

@media(min-width: 992px) and (max-width: 1200px)
    .search-container
        @include mixins.width-container-x-small

    .search-vacancies-content-header-texts
        h2
            font-size: 22px

    .search-vacancies-content-header p, .search-vacancies-infos p, .search-vacancies-descriptions p, .search-vacancies-descriptions li
        font-size: 15px

    .search-vacancies-descriptions
        h3
            font-size: 18px
