@use '../../../styles/mixins'
@use '../../../styles/variables'

.search-container
    @include mixins.width-container-small
    background-color: variables.$background-primary
    min-height: 600px
    box-shadow: 0 0px 7px -2px #c9c9c9
    border-radius: 10px
    border: 1px solid #E4E4E4
    display: grid
    grid-template-columns: 1fr 2fr
    overflow: hidden

.search-vacancies-result
    display: flex
    flex-direction: column
    justify-content: space-between
    height: 100%
    border-right: 2px solid #C3C3C3

    header
        @include mixins.center
        justify-content: flex-start
        padding: 5px
        height: 50px
        border-bottom: 2px solid #C3C3C3

        >p
            color: variables.$color-default
            margin-left: 15px

.search-vacancies-list
    height: auto

    hr
        border-top: 1px solid #c9c9c9
        margin: 0 10px

.search-vacancies-pages
    @include mixins.center
    display: flex
    gap: 3px
    padding: 5px
    height: 50px
    border-top: 2px solid #C3C3C3

.search-vacancies-no-data
    width: 100%
    height: 100%
    @include mixins.center

.search-vacancies-content
    display: flex
    flex-direction: column
    justify-content: space-between
    padding: 25px
    height: 100%
    overflow-y: auto

    hr
        margin: 10px 0

    ul
        margin: 5px 0 10px 30px

.search-vacancies-content-header
    display: flex
    justify-content: space-between

.search-vacancies-content-header-texts
    h2
        font-size: 25px

.search-vacancies-publication-date
    margin-top: 15px
    font-size: 14px

.search-vacancies-infos
    p
        margin: 3px 0
        letter-spacing: 0.5px

.search-vacancies-about
    margin: 5px 0 25px 0

.search-vacancies-footer
    display: flex
    justify-content: flex-end

.search-vacancies-footer-button
    width: 200px
