@use '../variables'

.button-primary
    cursor: pointer
    cursor: pointer
    background-color: variables.$background-alternative
    padding: 10px
    margin: auto
    border-radius: 10px
    width: 100%

    &:hover
        background-color: variables.$background-alternative-hover

    p
        color: #fff
        font-size: 15px
        font-weight: bold
        text-align: center

.button-primary-disable
    background-color: variables.$color-default
    cursor: default

    &:hover
        background-color: variables.$color-default
